<template>
  <div>
    <div class="overline mb-2">
      The most popular
    </div>
    <v-card
      v-for="message in messages"
      :key="message.id"
      class="mb-1"
      outlined
    >
      <v-card-text class="d-flex align-center">
        <v-chip class="flex-shrink-0 mr-2">
          {{ message.comments.length }}
        </v-chip>
        <div class="message text-truncate">
          {{ message.text }}
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'MostPopular',
  props: {
    messages: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.message {
  flex: 1 1;
}
</style>
